{% extends "templates/theme.twig" %}

{% block content %}

	<div class="text-center">

		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<img src="/images/logo_500x500.png" alt="PHP USERGROUP DRESDEN e.V.">

		<h1>Coming soon...</h1>
	</div>

{% endblock %}
