* html, body {
	font-family: "robotoregular", Helvetica, Arial, sans-serif;
}

#brandimg {
	margin: 0 auto;
}

.blockspace {
	margin: 15px 0;
}

#footer .icons {
	font-size: x-large;
}

#sidebar {
	margin: 20px 0;
}
